<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Shop | Home</title>

    @using DoGiaDung.Models
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/Content/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/nouislider.css">
    <!-- Theme color -->
    <link id="switcher" href="~/Content/css/theme-color/default-theme.css" rel="stylesheet">
    <!-- <link id="switcher" href="css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="~/Content/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet"> <!-- range slider -->
    <!-- font awesome style -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />



</head>
<body>
    <!-- wpf loader Two -->
    <div id="wpf-loader-two">
        <div class="wpf-loader-two-inner">
            <span>Loading</span>
        </div>
    </div>
    <!-- / wpf loader Two -->
    <!-- SCROLL TOP BUTTON -->

    <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!-- Start header section -->
    <header id="aa-header">
        <!-- start header top  -->
        <div class="aa-header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-top-area">
                            <!-- start header top left -->
                            <div class="aa-header-top-left">


                                <!-- start cellphone -->
                                <div class="cellphone hidden-xs">
                                    <p><span class="fa fa-phone"></span>00-62-658-658</p>
                                </div>
                                <!-- / cellphone -->
                            </div>
                            <!-- / header top left -->
                            <div class="aa-header-top-right">
                                <ul class="aa-head-top-nav-right">
                                    @if (Session["user_email"] == null)
                                    {
                                        <li class="hidden-xs"><a href="wishlist.html">Wishlist</a></li>
                                        <li class="hidden-xs"><a href="/GioHang/Index">My Cart</a></li>
                                        <li class="hidden-xs"><a href="/GioHang/Checkout_view">Checkout</a></li>
                                        <li><a href="" data-toggle="modal" data-target="#login-modal">Login</a></li>
                                    }
                                    @if (Session["user_email"] != null)
                                    {

                                        <li class="hidden-xs"><a href="wishlist.html">Wishlist</a></li>
                                        <li class="hidden-xs"><a href="/GioHang/Index">My Cart</a></li>
                                        <li class="hidden-xs"><a href="/GioHang/Checkout_view">Checkout</a></li>
                                        <li class="hidden-xs"><a href="/User/ThongTin">My Account</a></li>
                                        <li class="hidden-xs"><a href="/User/LogOutUser">Logout</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header top  -->
        <!-- start header bottom  -->
        <div class="aa-header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-header-bottom-area">
                            <!-- logo  -->
                            <div class="aa-logo">
                                <!-- Text based logo -->
                                <a href="/Home/Index">

                                    <p><strong>Prime Home</strong> <span>Tô điểm thế giới nhỏ của bạn</span></p>
                                </a>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="~/img/logo.jpg" alt="logo img"></a> -->
                            </div>
                            <!-- / logo  -->
                            <!-- cart box -->
                            @if (Session["Cart"] == null)
                            {
                                <div class="aa-cartbox">
                                    <a class="aa-cart-link" href="/GioHang/Index">
                                        <span class="fa fa-shopping-basket"></span>
                                        <span class="aa-cart-title">Giỏ Hàng</span>
                                        <span class="aa-cart-notify">0</span>
                                    </a>
                                    <div class="aa-cartbox-summary">
                                        <ul>
                                            <li>
                                                <span class="aa-cartbox-total-title">
                                                    Không có sản phẩm trong giỏ
                                                </span>
                                            </li>
                                        </ul>
                                        @*<a class="aa-cartbox-checkout aa-primary-btn" href="#">Checkout</a>*@
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="aa-cartbox">
                                    <a class="aa-cart-link" href="/GioHang/Index">
                                        <span class="fa fa-shopping-basket"></span>
                                        <span class="aa-cart-title">SHOPPING CART</span>
                                        @{
                                            List<Cart> a = (List<Cart>)Session["Cart"];
                                            if (a != null)
                                            {
                                                <span class="aa-cart-notify">@a.Sum(x => x.Quantity)</span>
                                            }
                                        }
                                    </a>
                                    <div class="aa-cartbox-summary">
                                        <ul>
                                            @foreach (var item in (List<Cart>)Session["Cart"])
                                            {
                                                <li>
                                                    <a class="aa-cartbox-img" href="/Product/Product_Detail/@item.Product.product_id"><img src="@Url.Content(item.Product.image_link)" alt="img"></a>
                                                    <div class="aa-cartbox-info">
                                                        <h4><a href="/Product/Product_Detail/@item.Product.product_id">@item.Product.product_name</a></h4>
                                                        <p>@item.Quantity x @item.Product.price</p>
                                                    </div>
                                                    <a class="aa-remove-product" href="/GioHang/Delete/@item.Product.product_id"><span class="fa fa-times"></span></a>
                                                </li>
                                            }
                                            @{
                                                List<Cart> b = (List<Cart>)Session["Cart"];
                                                var total = a.Sum(x => x.Product.price * x.Quantity);
                                                <li>
                                                    <span class="aa-cartbox-total-title">
                                                        Total
                                                    </span>
                                                    <span class="aa-cartbox-total-price">
                                                        @total
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                        <a class="aa-cartbox-checkout aa-primary-btn" href="checkout.html">Checkout</a>
                                    </div>
                                </div>
                            }
                            <!-- / cart box -->
                            <!-- search box -->
                            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                            {
                                <div class="aa-search-box">
                                    <form action="">
                                        <input type="text" name="searchstring" id="searchstring" placeholder="Search sản phẩm. 'ở đây' ">
                                        <button type="submit"><span class="fa fa-search"></span></button>
                                    </form>
                                </div>
                            }
                            <!-- / search box -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / header bottom  -->
    </header>
    <!-- / header section -->
    <!-- menu -->
    <section id="menu">
        <div class="container">
            <div class="menu-area">
                <!-- Navbar -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <!-- Left nav -->
                        <ul class="nav navbar-nav">
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li>
                                <a href="/Product/Index" class="has-submenu" id="sm-16417173511331372-1" aria-haspopup="true" aria-controls="sm-16417173511331372-2" aria-expanded="false">Sản phẩm <span class="caret"></span></a>
                                <ul class="dropdown-menu sm-nowrap" id="sm-16417173511331372-2" role="group" aria-hidden="true" aria-labelledby="sm-16417173511331372-1" aria-expanded="false" style="width: auto; min-width: 10em; display: none; max-width: 20em; top: auto; left: 0px; margin-left: 0px; margin-top: 0px;">
                                    <li><a href="/Product?catalog=Ghế%20-%20Sofa">Ghế - sofa</a></li>
                                    <li><a href="/Product?catalog=Bàn">Bàn</a></li>
                                    <li><a href="/Product?catalog=Tủ%20-%20Kệ">Tủ - Kệ</a></li>
                                    <li><a href="/Product?catalog=Giường%20ngủ">Giường ngủ</a></li>
                                    <li><a href="/Product?catalog=Tượng">Tượng</a></li>
                                    <li><a href="/Product?catalog=Gương">Gương</a></li>
                                    <li><a href="/Product?catalog=Bình%20-%20Chậu">Bình - Chậu</a></li>
                                    <li><a href="/Product?catalog=Thảm%20-%20Khăn%20trải">Thảm - Khăn trải</a></li>
                                    <li><a href="/Product?catalog=Nội%20Thất%20Khác">Nội thất khác</a></li>
                                </ul>
                            </li>
                            <li><a href="/Contact/Index">Liên Hệ</a></li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </section>
    <!-- / menu -->


    @RenderBody()
    <!-- Subscribe section -->
    <section id="aa-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h3>Cho chúng tôi biết ý kiến của bạn </h3>
                        <form action="" class="aa-subscribe-form">
                            <input type="email" name="" id="" placeholder="Enter your Email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Subscribe section -->
    <!-- footer -->
    <footer id="aa-footer">
        <!-- footer bottom -->
        <div class="aa-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-top-area">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <h3>Main Menu</h3>
                                        <ul class="aa-footer-nav">
                                            <li><a href="/Home/Index">Trang chủ</a></li>
                                            <li><a href="/Product/Index">Sản phẩm</a></li>
                                            <li><a href="/Contact/Index">Liên hệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="aa-footer-widget">
                                        <div class="aa-footer-widget">
                                            <h3>Contact Us</h3>
                                            <address>
                                                <p> 828 Sư Vạn Hạnh Phường 12 Quận 10,Thành Phố HCM</p>
                                                <p><span class="fa fa-phone"></span>+840937928473</p>
                                                <p><span class="fa fa-envelope"></span>primehome@gmail.com</p>
                                            </address>
                                            <div class="aa-footer-social">
                                                <a href="https://www.facebook.com/luongdthong28899"><span class="fa fa-facebook"></span></a>
                                                <a href="https://www.facebook.com/luongdthong28899"><span class="fa fa-twitter"></span></a>
                                                <a href="https://www.facebook.com/luongdthong28899"><span class="fa fa-google-plus"></span></a>
                                                <a href="https://www.facebook.com/luongdthong28899"><span class="fa fa-youtube"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
        <div class="aa-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="aa-footer-bottom-area">
                            <p>Designed by <a href="https://www.facebook.com/TH1258vn/">PrimeHome.plus</a></p>
                            <div class="aa-footer-payment">
                                <span class="fa fa-cc-mastercard"></span>
                                <span class="fa fa-cc-visa"></span>
                                <span class="fa fa-paypal"></span>
                                <span class="fa fa-cc-discover"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->
    <!-- Login Modal -->

    @Html.AntiForgeryToken()
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Login or Register</h4>
                    @using (Html.BeginForm("LoginAcc", "User", FormMethod.Post, new { @class = "aa-login-form" }))
                    {
                        <form class="aa-login-form" action="">
                            <label for="">Email address<span>*</span></label>
                            <input type="text" name="email" placeholder="Email">
                            <label for="">Password<span>*</span></label>
                            <input type="password" name="pass" placeholder="Password">
                            <button class="aa-browse-btn" type="submit">Login</button>
                            <label for="rememberme" class="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>
                            <p class="aa-lost-password"><a href="/User/ForgotPassword">Quên mật khẩu?</a></p>
                            <div class="aa-register-now">
                                Chưa có tài khoản?<a href="/User/RegisterUser">Đăng ký tài khoản!</a>
                            </div>
                        </form>
                    }
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/js/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script type="text/javascript" src="~/Scripts/js/jquery.smartmenus.js"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script type="text/javascript" src="~/Scripts/js/jquery.smartmenus.bootstrap.js"></script>
    <!-- To Slider JS -->
    <script src="~/Scripts/js/sequence.js"></script>
    <script src="~/Scripts/js/sequence-theme.modern-slide-in.js"></script>
    <!-- Product view slider -->
    <script type="text/javascript" src="~/Scripts/js/jquery.simpleGallery.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script type="text/javascript" src="~/Scripts/js/slick.js"></script>
    <!-- Price picker slider -->
    <script type="text/javascript" src="~/Scripts/js/nouislider.js"></script>
    <!-- Custom js -->
    <script src="~/Scripts/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>
</html>